<h1 class="current-category"><%= params[:category] %></h1>
<% if @books.count == 0 %>
	<h1>There are no books currently in this category</h1>
<% else %>	
	<div class="row">
		<% @books.each do |book| %>
		<div class = "book">
		<!--Once clicked, directs the user to the book page-->
         <%= link_to book.titlse, book_path(book) %> 
         </div>   
		<% end %>
	</div>
<% end %>	
		<!--Once clicked, directs the user to the add book page-->
<%= link_to "Add Resource", new_book_path %>
<%= link_to "Search", books_search_path %>