
@import "bootstrap";
@import "bootstrap-sprockets";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 

/* Variables, mixins, etc.. */



/* General styles */

body {
	background-color: #f5f5f5;
	font-family: 'Palatino', 'URW Palladio L', serif;
	margin-left: 25px;
	margin-right: 25px;
	margin-right: 25px;
	font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Palatino', 'URW Palladio L', serif;
	margin-top: 10px; 
	font-weight: 300;
}

p.alert, p.notice {
	margin: 0;
}
body { 
    padding-top: 30px; 
}

/* Navbar/navigation styles */

.navbar {
	font-family: 'Palatino', 'URW Palladio L', serif;
	text-transform: uppercase;
}
.navbar{
	background-color:  rgb(47, 180, 13);
	color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: -5px;
	margin-right: -25px;
	.navbar-nav > li > a {
		color: #fff;
		&:hover {
			color: darken(#107a27, 5%);
			transition: 0.5s;
		}
	}

	.navbar-header {

		.navbar-brand {
			color: #222;
			letter-spacing: 1.4px;
		}

	}
/*controlls dropdwon. the currently selected category should be highlighted */
	.dropdown-menu > li > a:hover {
		background-color: darken(#107a27, 5%);
		color: #fff;
	}

	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
		background-color: darken(#107a27, 5%);
		color: #fff;	
	}

}

.dropdown-menu > .active > a {
	background-color: #107a27;
	color: #fff;
}


/* Button/link styles */

.btn-custom {
	background-color: #fff;
	border: 1px solid darken(#107a27, 5%);
	padding: 8px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	display: inline-block;
	font-family: 'Palatino', 'URW Palladio L', serif;
	&:hover {
		text-decoration: none;
		background-color: darken(#40d661, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: #333;
	background-color: #fff;
	border: 1px solid #222;
	text-color: #fff;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Palatino', 'URW Palladio L', serif;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}	
}

.links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
	}

}

.book-links {

	.btn-custom {
		padding: 6px 20px;
		font-weight: 300;
		margin-top: 40px;	
	}

}

/* Book styles */

.book {
	margin-bottom: 40px;
}

.book-show {
	height: 475px;
	width: 325px;
}

.book-info {

	.book-title {
		margin-top: 0;
		font-size: 10em;
	}


	.book-author {
		font-size: 1.5em;
		margin-top: 10px;
		margin-bottom: 10px;
		span {
			font-size: 0.80em;
		}	
	}

	.book-desc {
		font-size: 1.05em;
		line-height: 1.5;
		margin-bottom: 15px;
		margin-top: 15px;
	}

}


/* current-category styles */

.current-category {
	margin-bottom: 40px;
}


/* New Book Form styles */

.new-book-form {

	h1 {
		padding-top: 10px;
		margin-top: 0;
	}

	#category_id {
		margin-bottom: 10px;
	}


}


/* Edit Book Form styles */

.edit-book-form {


	h1 {
		margin-top: 0;
	}

	#category_id {
		margin-bottom: 10px;
	}
	
}




/* Signup/Login form styles */

.signup-form {

	h2 {
		margin-top: 0;
	}

}

.login-form {


	h2 {
		margin-top: 0;
	}

}